<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <center>
        <form  method="POST">
            {% csrf_token %}
            <label >Register_user</label><br><br>
            <label for="n">username</label>
            <input type="text" name="n" id="n">
            <label for="p">password</label>
            <input type="password" name="p" id="p">
            <input type="submit" value="Register">
        </form>
    </center>
</body>
</html>